{
  "gamesparks" : {
    "apiKey": "u351173Ygzf8",
    "secret": "M69EjcJL5Lsj5KEsyUydl1stYl9xX5nC",
    "socketCount": 10
  },

  "bots":[
    {
      "accountName": "test",
      "password": "test",
      "twoFactorCode": "8fxk8"
    }
  ]
}