{
  "gamesparks" : {
    "apiKey": "u351173Ygzf8",
    "secret": "M69EjcJL5Lsj5KEsyUydl1stYl9xX5nC",
    "socketCount": 10
  },

  "bots":[
      {
          "accountName": "cdummy0320",
          "password": "PasswordIsWrong",
          "sharedSecret": "8ttAY6nQeaG9XhTsr0pa78TUzw8=",
          "identitySecret": "YqYy6AVUmpiC8Civr8Gafxtp3Yg="
      }
  ]
}