{
    "steamAPIKey": "C32A7ED86CA70E2EAA2AAB2DEA7D9DF1",
    "jwtSecret": "LGqmoVf3SgBAAVb8KIttP60quxyifvYdUJKk289mU",
    "appKey": "t+LGqmoVf3SgBAAVb8KIttP60quxyifvYdUJKk289mU=",
    "mysql" : {
        "host": "localhost",
        "user": "root",
        "password": "",
        "database": "betting"
    },
    "gamesparks" : {
        "apiKey": "u351173Ygzf8",
        "secret": "M69EjcJL5Lsj5KEsyUydl1stYl9xX5nC",
        "socketCount": 10
    },

    "bots":[
        {
            "accountName": "cdummy0320",
            "password": "PasswordIsWrong",
            "sharedSecret": "8ttAY6nQeaG9XhTsr0pa78TUzw8=",
            "identitySecret": "YqYy6AVUmpiC8Civr8Gafxtp3Yg="
        }
    ]
}